<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tfriends.mapper.VoirMapper">
    <select id="vlist" resultType="Voirs">
        SELECT * FROM reservoir
        <include refid="find"></include>
    </select>
    <select id="vinfo" resultType="VoirAPI">
        SELECT * FROM reservoir WHERE no = #{no}
    </select>
    <sql id="find">
        <if test="jurisdiction != 'all'">
            WHERE jurisdiction = #{jurisdiction}
        </if>
    </sql>
</mapper>