<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tfriends.mapper.WeatherMapper">
    <select id="dominions" resultType="LocationVO">
        SELECT * FROM dominications
    </select>
    <select id="voirweather" resultType="WeatherVO">
        SELECT
            a.no, a.location, a.duststation, a.sunrise, a.sunset,
            a.weather0, a.temp0, a.humid0,
            a.weather1, a.temp1, a.time1,
            a.weather2, a.temp2, a.time2,
            a.weather3, a.temp3, a.time3,
            a.weather4, a.temp4, a.time4,
            a.weather5, a.temp5, a.time5,
            b.pm10v, b.pm10g,
            b.pm25v, b.pm25g
        FROM dominications AS a
        RIGHT JOIN dust_station AS b
            on a.duststation = b.name
        WHERE a.location = #{location}
    </select>
</mapper>